* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}
*::after, *::before {
    box-sizing: inherit; 
}
  
html {
box-sizing: border-box;
font-size: 55%; 
}

body {
font-family: sans-serif; 
}
.nav{
    background-color: rgb(22, 21, 21);
    width: 100vw;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 1rem 4rem;
    align-items: center;
}
.nav-pic{
    width: 4rem;
    border-radius: .3rem;
}
.nav-dash{
    font-size: 3rem;
}
.nav-logo{
    font-size: 2rem;
}
.container{
    display: flex;
}
.side{
    background-color: #4F4F4F;
    min-height: 90vh;
    min-width: 15vw;
    display: flex;
    max-height: 91vh;
    flex-direction: column;
    justify-content: space-between;
}
.side-bar{
    font-size: 2rem;
    margin:2rem 3rem;
    /* display: inline-block; */

}
.side-bar-item{
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid whitesmoke;

}
.link{
    text-decoration: none;
    color: whitesmoke;
}
.logout{
    text-decoration: none;
    margin: 1rem 5rem;
    color:azure;
}
.add{
    font-size: 2rem;
    text-decoration: none;
    background-color: aqua;
    padding: 1rem 2rem;
    
    border-radius: 1000000px;
}
.content{
    margin: 2rem 5rem;
    width: 60vw;
}
.title{
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
}
.title1{
    margin: 1rem 0;
    text-align: center;
    font-size: 3rem;
}
.rows{
    padding: 1rem;

}
#body1{
    width: 49rem;
    height: 22rem;
}
.blog{
    padding: 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(36, 35, 35);
}
.logout{
    font-size: 1.6rem;
}
.item-active{
    background-color: aliceblue;
}
.item-active a {
    color: #4F4F4F;
}
.post{
    width: 15rem;
    height: 3em;
    border-radius: 2rem;
    background-color: orange;
}
.menu-icon{
    font-size: 20px;
    color: #FFF;
    margin-right: 20px;
    margin-top: 5px;
    display: none;
}
@media (max-width: 48em) {
    html {
      box-sizing: border-box;
      font-size: 48%;
    }
    body{
        overflow-x: hidden;
    }
    #body1{
        margin-top: 3rem;
        margin-left: 2rem;
    }
    .title1{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    #tap{
        margin-top: 2rem;
    }
}
    @media (max-width: 26.6em) {
        html {
          box-sizing: border-box;
          font-size: 30%;
        }
        .side{
            min-width: 20vw;
        }
    }
    @media (max-width: 23.5em){
        .side{
            position: absolute;
            left: -22rem; 
        }
        .active{
            position: absolute;
            left: 0;
        }
        .menu-icon{
            display: block;
        }
        .nav-pic{
            display: none;
        }
        #body1{
            margin-top: 6rem;
            margin-left: 3rem;
        }
        .title1{
            margin-left: 9rem;
            margin-top: 5rem;
        }
        #tap{
            margin-top: 2rem;
            margin-left: 2rem;
            padding: 0rem;
        }
    }
